In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier
%matplotlib inline

In [4]:
data = pd.read_csv('car.csv')

In [6]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [8]:
data.tail()

     buying maint  doors persons lug_boot safety  class
1723    low   low  5more    more      med    med   good
1724    low   low  5more    more      med   high  vgood
1725    low   low  5more    more      big    low  unacc
1726    low   low  5more    more      big    med   good
1727    low   low  5more    more      big   high  vgood

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [11]:
for i in data.columns:
    print(data[i].unique(),"\t",data[i].nunique())

['vhigh' 'high' 'med' 'low'] 	 4
['vhigh' 'high' 'med' 'low'] 	 4
['2' '3' '4' '5more'] 	 4
['2' '4' 'more'] 	 3
['small' 'med' 'big'] 	 3
['low' 'med' 'high'] 	 3
['unacc' 'acc' 'vgood' 'good'] 	 4

In [12]:
data.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

In [13]:
for i in data.columns:
    print(data[i].value_counts())
    print()

vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

2        432
3        432
4        432
5more    432
Name: doors, dtype: int64

2       576
4       576
more    576
Name: persons, dtype: int64

small    576
med      576
big      576
Name: lug_boot, dtype: int64

low     576
med     576
high    576
Name: safety, dtype: int64

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [15]:
sns.countplot(data['class'])

ValueError: could not convert string to float: 'unacc'

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
for i in data.columns:
    data[i]=le.fit_transform(data[i])

In [13]:
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      0        0         2       1      2
1       3      3      0        0         2       2      2
2       3      3      0        0         2       0      2
3       3      3      0        0         1       1      2
4       3      3      0        0         1       2      2

In [14]:
X=data[data.columns[:-1]]
y=data['class']

In [15]:
X.head(2)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
model1 = MLPClassifier()
model1.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier()

In [18]:
prediction1 = model1.predict(X_test)

In [19]:
from sklearn.metrics import precision_score
precision_Score = precision_score(y_test, prediction1, average = 'macro')

In [20]:
from sklearn.metrics import classification_report
cr = classification_report(y_test, prediction1, output_dict=True)
recall = cr["1"]["recall"]

In [21]:
from sklearn.metrics import f1_score
f1_Score = f1_score(y_test, prediction1, average = 'macro')

In [22]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, prediction1)

In [23]:
# Misclassification Rate
Misclassification_Rate = 1 - accuracy

In [24]:
print("Misclassification_Rate:", Misclassification_Rate)
print("Accuracy:", accuracy)
print("F1 Score:", f1_Score)
print("Precision_Score:", precision_Score)
print("Recall_Score:",recall)

Misclassification_Rate: 0.09055876685934494
Accuracy: 0.9094412331406551
F1 Score: 0.7443673899843406
Precision_Score: 0.9151822423750788
Recall_Score: 0.3157894736842105

In [25]:
mlp = MLPCLassifier(hidden_layer_sizes = (10,10,10), max_iter = 1000)

NameError: name 'MLPCLassifier' is not defined